<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <!-- Legacy storage flag for backward compatibility -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGallery"
        tools:targetApi="34">

        <!-- MainActivity as the Launcher -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".ImagesDisplayActivity" />
        <activity android:name=".OnlineActivity" />
        <activity android:name=".RecycleBinActivity" />
        <activity android:name=".ImageInspectActivity" />
        <activity android:name=".OfflineAlbumActivity" />
        <activity android:name=".OfflineAlbumInspect" />
        <activity android:name=".SlideshowActivity" />
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".SearchActivity"
            android:label="Search"
            android:exported="true" />
    </application>

</manifest>
